<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Recommender</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <i class="fa fa-cloud"></i> &nbsp; Cloud Recommender
          </a>
        </div>
      </nav>  
      <section class="section" ng-app="myApp" ng-controller="myCtrl" >
          <!-- Form container -->
          <div class="container" ng-show="showForm" >
              <h1 class="title">What are you looking for in a Cloud Service ?</h1>
              <p class="subtitle">Tell us <strong>more</strong>!</p>
              <!-- Budget Card-->
              <div class="card">
                  <header class="card-header">
                      <p class="card-header-title">Budget:</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="number" ng-model="budget" min="1" max="10000" placeholder="Enter amount you are willing to spend">
                                </div>
                            </div>
                            <div class="select">
                                <select ng-model="budget_period">
                                    <option value="hour">per hour</option>
                                    <option value="month">per month</option>
                                    <!-- <option value="year">per year</option> -->
                                </select>
                            </div>
                            <p  style="color: red;" ng-show="showBudgetError">This field is required</p>
                        </div>
                    </div>
                </div>
                <!--End Budget Card-->

              <!-- Timeline Card-->
              <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Timeline:</p>
                  </header>
                  <div class="card-content">
                      <div class="content">
                          <div class="field">
                              <div class="control">
                                  <input class="input" type="number" ng-model="timeline" min="1" max="10" placeholder="Enter how long you plan to use this service">
                              </div>
                          </div>
                          <div class="select">
                            <select ng-model="timeline_period">
                                <option value="month">month(s)</option>
                                <option value="year">year(s)</option>
                            </select>
                        </div>
                        <p  style="color: red;" ng-show="showTimelineError">This field is required</p>
                      </div>
                  </div>
              </div>
              <!--End Timeline Card-->

              <!-- Location Card-->
              <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Region:</p>
                  </header>
                  <div class="card-content">
                      <div class="content">
                        <div class="select">
                            <select ng-model="region">
                                <option>US East (N. Virginia)</option>
                            </select>
                        </div>
                        <p  style="color: red;" ng-show="regionError">This field is required</p>
                      </div>
                  </div>
              </div>
              <!--End Location Card-->

              <!-- Usage Card-->
              <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Usage:</p>
                  </header>
                  <div class="card-content" >
                      <div class="content">
                        <div class="select">
                            <select ng-model="usageName" ng-change="change()">
                                <option>Cloud Server</option>
                                <!-- <option>Cloud Hosting</option> -->
                                <!-- <option>Cloud Storage</option> -->
                                <!-- <option>Cloud Messaging</option> -->
                            </select>
                        </div>
                        <p  style="color: red;" ng-show="usageError">This field is required</p>
                      </div>

                  </div>
              </div>
              <!--End Usage Card-->

              <!-- Requirements Card-->
              <div class="card">
                <header class="card-header">
                    <p class="card-header-title"> Requirements based on {{ usageName }}:</p>
                  </header>
                  <div class="card-content">
                      <div class="content">
                         <!--Server requirements --> 
                        <div ng-show="showServer">

                                <!--RAM field-->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">RAM</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="select">
                                            <select ng-model="memory">
                                                <option value="516">516MB</option>
                                                <option value="768">768MB</option>
                                                <option value="1000">1G</option>
                                                <option value="1500">1.5G</option>
                                                <option value="2000">2G</option>
                                                <option value="4000">4G</option>
                                                <option value="8000">8G</option>
                                                <option value="16000">16G</option>
                                                <option value="32000">32G</option>
                                                <option value="64000">64G</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <!--End RAM field-->
                                <!--CPU field-->
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">CPU cores</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="select">
                                                <select ng-model="cores">
                                                    <option value="1">1x</option>
                                                    <option value="2">2x</option>
                                                    <option value="4">4x</option>
                                                    <option value="6">6x</option>
                                                    <option value="8">8x</option>
                                                    <option value="12">12x</option>
                                                    <option value="16">16x</option>
                                                    <option value="24">24x</option>
                                                    <option value="32">32x</option>
                                                    <option value="48">48x</option>
                                                    <option value="'64'">64x</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End CPU field--> 
                                <!--Storage field-->
                                <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Storage</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="select">
                                            <select ng-model="storage">
                                                <option value="1000">1GB</option>
                                                <option value="2000">2GB</option>
                                                <option value="5000">5GB</option>
                                                <option value="10000">10GB</option>
                                                <option value="20000">20GB</option>
                                                <option value="50000">50GB</option>
                                                <option value="100000">100GB</option>
                                                <option value="200000">200GB</option>
                                                <option value="500000">500GB</option>
                                                <option value="1000000">1TB</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Storage field-->
                                <!--Storage type field-->
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Storage type</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="select">
                                                <select ng-model="storageType">
                                                    <option value="ssd">SSD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Storage field-->
           
                                <!--OS field-->
                                <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">OS</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="select">
                                            <select ng-model="os">
                                                <!-- <option>Windows</option> -->
                                                <option value="Linux">Linux</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End OS field-->  
                        </div>
                        <p  style="color: red;" ng-show="serverError">All fields are required</p>
                        <!--End Server requirements-->

                        <!--Hosting requirements-->
                        <div ng-show="showHosting">

                        </div>
                        <!--End Hosting requirements-->

                        <!--Storage requirements-->
                        <div ng-show="showStorage">
                                 <!--Storage field-->
                                 <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Storage</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="select" >
                                                <select>
                                                    <option>1GB</option>
                                                    <option>2GB</option>
                                                    <option>5GB</option>
                                                    <option>10GB</option>
                                                    <option>20GB</option>
                                                    <option>50GB</option>
                                                    <option>100GB</option>
                                                    <option>200GB</option>
                                                    <option>500GB</option>
                                                    <option>1TB</option>
                                                    <option>10TB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Storage field-->
                                    <!--Transfer Out field-->
                                    <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Transfer Out</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="select" >
                                                <select>
                                                    <option>1GB</option>
                                                    <option>2GB</option>
                                                    <option>5GB</option>
                                                    <option>10GB</option>
                                                    <option>20GB</option>
                                                    <option>50GB</option>
                                                    <option>100GB</option>
                                                    <option>200GB</option>
                                                    <option>500GB</option>
                                                    <option>1TB</option>
                                                    <option>10TB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Transfer Out field-->

                                    <!--Get request field-->
                                    <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Get requests</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="select" >
                                                <select>
                                                    <option>10k</option>
                                                    <option>20k</option>
                                                    <option>50k</option>
                                                    <option>100k</option>
                                                    <option>500k</option>
                                                    <option>1M</option>
                                                    <option>5M</option>
                                                    <option>10M</option>
                                                    <option>50M</option>
                                                    <option>100M</option>
                                                    <option>1G</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Get requests field-->            

                                    <!--PUT requests field-->
                                    <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">PUT requests</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="select" >
                                                <select>
                                                    <option>1k</option>
                                                    <option>2k</option>
                                                    <option>5k</option>
                                                    <option>10k</option>
                                                    <option>20k</option>
                                                    <option>50k</option>
                                                    <option>100k</option>
                                                    <option>200k</option>
                                                    <option>500k</option>
                                                    <option>1M</option>
                                                    <option>10M</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End PUT requests field-->  
                        </div>
                        <!--End Storage requirements-->

                        <!--Messaging requirements-->
                        <div ng-show="showMessaging">

                        </div>
                        <!--End Messaging requirements-->          
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item"><button class="button is-link" ng-click="recomend()">Recomend a provider</button></div>
                      <!-- <a href="#" class="card-footer-item">Reset</a> -->
                      <!-- <a href="#" class="card-footer-item">Delete</a>  -->
                </footer>
            </div>
              <!--End Requirements Card-->
         </div>
         <br>
            <!--End Form container -->
          <div class="container" ng-show="showResult">
            <h1 class="title">Showing recomendations</h1>
            <!-- <p class="subtitle">Tell us <strong>more</strong>!</p> -->
              <!-- Result Card-->
              <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Recomendations based on user budget and timeline:</p>
                  </header>
                  <div class="card-content">
                      <div class="content">
                        <!-- <p ng-show="showNoResult">Sorry, could not recommend any service. Try changing your <a class="is-link" href="index.html"> requirements</a></p> -->
                          <table class="table">
                            <thead>
                                <tr>
                                  <th>Provider</th>
                                  <th>Details</th>
                                  <th>Price</th>
                                  <th>Term</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat = "x in aws_provider track by $index" >
                                    <th ng-if="$index ==0" class="is-selected">{{x}}</th>
                                    <td ng-if="$index ==0" class="is-selected">{{ aws_details[$index].name }}, {{ aws_details[$index].vCPUs }}x, {{ aws_details[$index].memory }}MB</td>
                                    <td ng-if="$index ==0" class="is-selected">${{ aws_process[$index]}}</td>
                                    <td ng-if="$index ==0" class="is-selected">On Demand</td>
                                    <td ng-if="$index ==0"><a href="" class="button is-link is-small is-light">Go to AWS</a></td>
                                    <th ng-if="$index !=0">{{x}}</th>
                                    <td ng-if="$index !=0">{{ aws_details[$index].name }}, {{ aws_details[$index].vCPUs }}x, {{ aws_details[$index].memory }}MB</td>
                                    <td ng-if="$index !=0">${{ aws_process[$index]}}</td>
                                    <td ng-if="$index !=0">On Demand</td>
                                  </tr >
                                  <tr ng-repeat = "x in google_provider track by $index">
                                    <th ng-if="$index ==0" class="is-selected">{{x}}</th>
                                    <td ng-if="$index ==0" class="is-selected">{{ google_details[$index].name }}, {{ google_details[$index].vCPUs }}x, {{ google_details[$index].memory }}MB</td>
                                    <td ng-if="$index ==0" class="is-selected">${{ google_process[$index]}}</td>
                                    <td ng-if="$index ==0" class="is-selected">On Demand</td> 
                                    <td ng-if="$index ==0"><a href="" class="button is-link is-small">Go to GCP</a></td>                                 
                                    <th ng-if="$index !=0">{{x}}</th>
                                    <td ng-if="$index !=0">{{ google_details[$index].name }}, {{ google_details[$index].vCPUs }}x, {{ google_details[$index].memory }}MB</td>
                                    <td ng-if="$index !=0">${{ google_process[$index]}}</td>
                                    <td ng-if="$index !=0">On Demand</td>
                                  </tr>
                                  <tr ng-repeat="x in azure_provider track by $index">
                                    <th ng-if="$index ==0" class="is-selected">{{x}}</th>
                                    <td ng-if="$index ==0" class="is-selected">{{ azure_details[$index].name }}, {{ azure_details[$index].vCPUs }}x, {{ azure_details[$index].memory }}MB</td>
                                    <td ng-if="$index ==0" class="is-selected">${{ azure_process[$index]}}</td>
                                    <td ng-if="$index ==0" class="is-selected">On Demand</td>  
                                    <td ng-if="$index ==0"><a href="" class="button is-link is-small">Go to Azure</a></td>                                   
                                    <th ng-if="$index !=0">{{x}}</th>
                                    <td ng-if="$index !=0">{{ azure_details[$index].name }}, {{ azure_details[$index].vCPUs }}x, {{ azure_details[$index].memory }}MB</td>
                                    <td ng-if="$index !=0">${{ azure_process[$index]}}</td>
                                    <td ng-if="$index !=0">On Demand</td> 
                                  </tr>                                  
                              </tbody>
                          </table>
                        
                      </div>
                  </div>
                  <footer class="card-footer">
                    <!-- <div class="card-footer-item"><button class="button is-link" ng-click="recomend()">Recomend a provider</button></div> -->
                      <div class="card-footer-item"><a class="button is-link" href="index.html">Change requirements</a></div>
                      <!-- <a href="#" class="card-footer-item">Delete</a>  -->
                </footer>
              </div>
              <!--End Result Card-->

          </div>
        </section>
        <script>

            var app = angular.module('myApp', []) ;
            app.controller('myCtrl', function($scope, $http){
                $scope.showForm = true ;
                $scope.showResult = false ;
                $scope.usageName = "Usage" ;
                $scope.showServer = false ;
                $scope.showHosting = false ;
                $scope.showStorage = false ;
                $scope.showMessaging = false ;
                $scope.showBudgetError = false ;
                $scope.showTimelineError = false ;
                $scope.change = function(){
                    if($scope.usageName == "Cloud Server"){
                        $scope.showServer = true ;
                        $scope.showHosting = false ;
                        $scope.showStorage = false ;
                        $scope.showMessaging = false ;
                    }else if ($scope.usageName == "Cloud Hosting"){
                        $scope.showServer = false ;
                        $scope.showHosting = true ;
                        $scope.showStorage = false ;
                        $scope.showMessaging = false ;                        

                    }else if ($scope.usageName == "Cloud Storage"){
                        $scope.showServer = false ;
                        $scope.showHosting = false ;
                        $scope.showStorage = true ;
                        $scope.showMessaging = false ;
                    }else if ($scope.usageName == "Cloud Messaging"){
                        $scope.showServer = false ;
                        $scope.showHosting = false ;
                        $scope.showStorage = false ;
                        $scope.showMessaging = true ;
                    }
                }

                $scope.userProcess = function(){
                    let result = 0 ;
                    if($scope.budget_period == "hour"){
                        if($scope.timeline_period == "month"){
                            result = ($scope.budget * 672) * $scope.timeline ;
                            result = Math.round(result) ;
                        }else if($scope.timeline_period == "year"){
                            result = ($scope.budget * 672) * ($scope.timeline * 12);
                            result = Math.round(result) ;
                        }
                    }else if ($scope.budget_period == "month"){
                        if($scope.timeline_period == "month"){
                            result = $scope.budget * $scope.timeline ;
                            result = Math.round(result) ;
                        }else if($scope.timeline_period == "year"){
                            result = $scope.budget * ($scope.timeline * 12);
                            result = Math.round(result) ;
                        }
                    }    
                    return result ;                
                }

                $scope.process = function(data){
                    let result = 0 ;
                    if($scope.budget_period == "hour"){
                        if($scope.timeline_period == "month"){
                            result = (data.cpu_cost_per_hour * 672) * $scope.timeline ;
                            result = Math.round(result) ;
                        }else if($scope.timeline_period == "year"){
                            result = (data.cpu_cost_per_hour * 672) * ($scope.timeline * 12);
                            result = Math.round(result) ;
                        }
                    }else if ($scope.budget_period == "month"){
                        if($scope.timeline_period == "month"){
                            result = data.cpu_cost_per_month * $scope.timeline ;
                            result = Math.round(result) ;
                        }else if($scope.timeline_period == "year"){
                            result = data.cpu_cost_per_month * ($scope.timeline * 12);
                            result = Math.round(result) ;
                        }
                    }
                    return result ;
                }

                $scope.api = function(){
                    $http({
                        url: 'https://us-central1-cse546proj2.cloudfunctions.net/getAwsData',
                        method: "POST",
                        data: {'memory' : $scope.memory, 'cores': $scope.cores, 'storage':$scope.storage, 'storageType': $scope.storageType, 'os': $scope.os}
                        }).then(function(response) {
                            // success
                            if(response.data != null){
                                let data = response.data ;
                                let processArray = [] ;
                                let data_details = [] ;
                                let services = [] ;
                                for (let i = 0; i < data.length; i++){
                                    if($scope.process(data[i]) <= $scope.userProcess()){
                                        services.push('Amazon Web Services') ;
                                        data_details.push(data[i]) ;
                                        processArray.push($scope.process(data[i])) ;
                                    }
                                }   
                                $scope.aws_provider = services ;
                                $scope.aws_details = data_details ;
                                $scope.aws_process = processArray ;
                            }else{
                                $scope.showNoResult = true ;
                            }
                            
                        }, function(response) { // optional
                            // failed
                    });
                    $http({
                        url: 'https://us-central1-cse546proj2.cloudfunctions.net/getAzureData',
                        method: "POST",
                        data: {'memory' : $scope.memory, 'cores': $scope.cores, 'storage':$scope.storage, 'storageType': $scope.storageType, 'os': $scope.os}
                        }).then(function(response) {
                            // success
                            if(response.data != null){
                                let data = response.data ;
                                let processArray = [] ;
                                let data_details = [] ;
                                let services = [] ;
                                for (let i = 0; i < data.length; i++){
                                    if($scope.process(data[i]) <= $scope.userProcess()){
                                        services.push('Microsoft Azure') ;
                                        data_details.push(data[i]) ;
                                        processArray.push($scope.process(data[i])) ;
                                    }
                                }   
                                $scope.azure_provider = services ;
                                $scope.azure_details = data_details ;
                                $scope.azure_process = processArray ;
                            }else{
                                $scope.showNoResult = true ;
                            }
                            
                        }, function(response) { // optional
                            // failed
                    });       
                    $http({
                        url: 'https://us-central1-cse546proj2.cloudfunctions.net/getGcpData',
                        method: "POST",
                        data: {'memory' : $scope.memory, 'cores': $scope.cores, 'storage':$scope.storage, 'storageType': $scope.storageType, 'os': $scope.os}
                        }).then(function(response) {
                            // success
                            if(response.data != null){
                                let data = response.data ;
                                let processArray = [] ;
                                let data_details = [] ;
                                let services = [] ;
                                for (let i = 0; i < data.length; i++){
                                    if($scope.process(data[i]) <= $scope.userProcess()){
                                        services.push('Google Cloud Platform') ;
                                        data_details.push(data[i]) ;
                                        processArray.push($scope.process(data[i])) ;
                                    }
                                }   
                                $scope.google_provider = services ;
                                $scope.google_details = data_details ;
                                $scope.google_process = processArray ;
                            }else{
                                $scope.showNoResult = true ;
                            }
                            
                        }, function(response) { // optional
                            // failed
                    });                   


                }

                $scope.recomend = function(){
                    if($scope.budget != null && $scope.budget_period != null){
                        $scope.showBudgetError = false;
                        if($scope.timeline != null && $scope.timeline_period != null){
                            $scope.showTimelineError = false ;
                            if($scope.region != null){
                                if($scope.usageName != null){
                                    if($scope.memory != null && $scope.cores != null && $scope.storage != null 
                                    && $scope.storageType != null && $scope.os != null){
                                        $scope.showForm = false ;
                                        $scope.showResult = true ;
                                            $scope.api() ;
                                    }else{
                                        $scope.serverError = true ;
                                    }
                                }else{
                                    $scope.usageError = true ;
                                }
                            }else{
                                $scope.regionError = true ;
                            }
                        }else{
                            $scope.showTimelineError = true ;
                        }
                    }else{
                        $scope.showBudgetError = true;
                    }
                }
            });
        </script>
    </body>
</html>